* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body {
    overflow-y:hidden;
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.main .logo{
    position: absolute;
    left: 20px;
    top: 0px;
}

.main .intro {
    width: 650px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 240px;
    font-size: 13px;
}

.main .intro span{
    font-weight: bold;
}

.main .title {
    position: absolute;
    right: 400px;
    top: 20px;
    text-transform: uppercase;
    font-weight: 800;
    color: rgba(55,55,55,.99);
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.main .timelist {
    width: 300px;
    position: absolute;
    top: 15%;
    left: 978px;
    font-size: 12px;
    font-weight: 700;
    color: rgba(55,55,55,.99);
}
.main .timelist img {
    width: 270px;
}

.main .timelist .p1 {
    margin-top: 100px;
    font-size: 13px;
    font-weight: 900;
}

.main .theme {
    width: 470px;
    position: absolute;
    left: 780px;
    bottom: 20px;
    color: rgba(55,55,55,.99);
}

.main .theme ul {
    list-style: none;
    font-size: 10px;
    line-height: 18px;
}

.main .theme .name{
    font-size: 13px;
    font-weight: bold;
}

.main .theme .name1 {
    color: #ff4d5a;

}

.main .theme .name2 {
    color: #32d3fe;
}

.main .theme .name3 {
    color: #6ec64d;
}

.main .theme .name4 {
    color: #9aa5af;
}

.main .theme .name5 {
    color: #cb9a28;
}

#box1 {
    width: 60%;
    height: 350px;
    /*border: 1px solid blue;*/
    position: absolute;
    left: 30px;
    top: 50px;
}

#box2 {
    width: 35%;
    height: 450px;
    /*border: 1px solid blue;*/
    position: absolute;
    right: 20px;
    top: 50px;
}

#box3 {
    width: 60%;
    height: 550px;
    /*border: 1px solid blue;*/
    position: absolute;
    left: 30px;
    bottom: 30px;
}

#box5 {
    width: 30%;
    height: 400px;
    /*border: 1px solid blue;*/
    position: absolute;
    right: 30px;
    bottom: 30px;
}


/*第一个盒子*/
#box1 text {
    font: 10px sans-serif;
}

#box1 .axis path {
    display: none;
}

#box1 .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#box1 .group-label {
    font-size: 14px;
    text-anchor: end;
}

#box1 form {
    position: absolute;
    right: 180px;
    top: 20px;
}


/*第二个盒子*/
#box2 path{
    fill-opacity:0.8;
    stroke-opacity:0;
}

#box2 .vlines, .hlines{
    stroke:rgb(150,148,109);
    shape-rendering:crispEdges;
    stroke-width:1px;
    stroke-opacity:0.3;
}
#box2 .hlabels line, .vlabels line{
    stroke:rgb(150,148,109);
    shape-rendering:crispEdges;
    stroke-width:1px;
    stroke-opacity:0.7;
}
#box2 .hlabels text, .vlabels text{
    color:rgb(150,148,109);
    font-size:12px;
}


#box2 svg{
    display:inline;
    float:left;
}
#box2 .legend{
    display:inline-block;
    margin:10px;
    margin-top:30px;
    margin-left:0;
    max-height:280px;
    min-width:190px;
    overflow:auto;
}
#box2 .legend table{
    border-collapse:collapse;
    border-spacing:0;
}
#box2 .legend tr, .legend td, .legend div{
    margin:0;
    padding:0;
}
#box2 .legend div{
    width:12px;
    height:12px;
    margin-top: 5px;
    float: left;
}
#box2 .legend span{
    padding: 0 5px;
    font-size: 8px;
    margin:0
}
#box2 .legend tr:hover{
    background:silver;
}
#box2 .distquantdiv{
    clear:both;
    padding:10px;
    overflow:hidden;
    margin: 20px;
}
#box2 .distquantdiv h3{
    padding-left: 40px;
    margin-bottom:0;
}
#box2 .stat{
    font-size:12px;
}

/*第三个盒子*/
#box3 .rectangularAreaChartText { font-family: Helvetica; font-size: 12px; }


/*第五个盒子*/
#box5 svg {
    width: 100%;
    height: 100%;
}

#box5 path.slice{
    stroke-width:2px;
}

#box5 polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}


